*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#mainWrapper{
	position: relative;
	background: url(../img/forgingRoom.jpeg) no-repeat;
	background-size: 100%;
	max-width: 1300px;
	max-height: 800px;
	min-width: 1300px;
	min-height:  778px;
	margin: 0 auto;
}

#role{
	position: absolute;
	width: 100px;
	height: 150px;
	background: url(../img/00.png) no-repeat;
	top: 250px;
	left: 450px;
}

img.blacksmith{
	position: absolute;
	width: 150px;
	top: 130px;
	left: 830px;
}

img.enter{
	position: absolute;
	width: 120px;
	top: 200px;
	left: 300px;
}

.arrowWrapper{
	position: absolute;
	top: 5px;
	left: 320px;
	color: white;
}

.arrow{
	display: block;
	width: 40px;
	margin: 0 auto;
}