* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainWrapper {
	overflow: hidden;
    position: relative;
    background: url(../img/market.jpg) no-repeat;
    background-size: 100%;
    max-width: 1300px;
    max-height: 800px;
    min-width: 1300px;
    min-height: 778px;
    margin: 0 auto;
}

.npcWrapper {
    position: absolute;
    width: 150px;
    top: 280px;
    left: 810px;
    color: white;
    -ms-text-align-last: center;
    text-align-last: center;
    cursor: pointer;
}

img.businessman {
    width: 150px;
}

img.enter {
    position: absolute;
    width: 120px;
    top: 600px;
    left: 250px;
}


#role {
    position: absolute;
    width: 110px;
    height: 150px;
    background: url(../img/00.png) no-repeat;
    background-position: 20px 27px;

    top: 550px;
    left: 550px;
    cursor: pointer;
}

.username{
	width: 100%;
	height: 20px;
	color: white;
	text-align: center;
	font-weight: lighter;
	font-size: 17px;
}

.arrowWrapper {
    position: absolute;
    top: 370px;
    left: 280px;
    color: white;
}

.arrow {
    display: block;
    width: 40px;
    margin: 0 auto;
}

.storeWrapper{
	display: none;
	position: absolute;
	width: 900px;
	height: 600px;
	top: 100px;
	left: 200px;
	background: #002b36;
	opacity: 0.77;
	z-index: 99999999;
}

.top{
	width: 100%;
	height: 65px;
	color: white;
	text-align: center;
	font-size: 35px;
	padding-top: 16px;
	border-bottom: solid 2px gray;
}

.goodsWrapper{
	margin-top: 50px;
}

.good{
	width: 100%;
	height: 40px;
	border-bottom: dashed 1px lightgray;
	color: white;
	font-size: 19px;
	line-height: 40px;
	opacity: 0.75;
	cursor: pointer;
}

.good:hover{
	opacity: 1;
	border-bottom: solid 1px lightgray;
}

.tradeName{
	display: inline-block;
	width: 200px;
	height: 100%;
	margin-left: 90px;
}

.price{
	display: inline-block;
	width: 150px;
}

.number{
	width: 50px;
	margin-left: 10px;
}

.buy{
	display: inline-block;
	width: 100px;
	height: 30px;
	font-size: 17px;
	line-height: 30px;
	text-align: center;
	margin-left: 160px;
	border: solid 1px lightblue;
}

.buy:hover{
	background: lightblue;
	color: black;
}

.back{
	position: absolute;
	width: 70px;
	height: 30px;
	top: 540px;
	left: 770px;
	box-shadow: 0px 1px 5px 5px gray;
	color: white;
	font-size: 14px;
	-ms-text-align-last: center;
	text-align-last: center;
	line-height: 30px;
	cursor: pointer;
	opacity: 0.7;
}

.back:hover{
	opacity: 1;
}







